<div class="article d-inline-flex">
    <div id="{{_id}}-block">
        <h5 class="articleTitle">
            {{title}}
        </h5>
        <hr class="line">
        <p class='author'>by {{author}}</p>
        <p class="summary">{{description}} <a href="{{link}}" class="linkToArticle" target="_blank">Read more in new
                tab.</a></p>
        {{#if saved}}
        <img data-article-id="{{_id}}" src="/images/save.png" class="imgsaveadd bookmark" data-save="false">
        {{else}}
        <img src="/images/nosave.png" data-article-id="{{_id}}" data-save="true" class="imgsaveadd bookmark">
        {{/if}}

        <img src="/images/addnote.png" data-article-id="{{_id}}" class="imgsaveadd individual-article">
    </div>
</div>