<div id="{{article._id}}" class="container">
    <div class="indTitle">{{article.title}}</div>
    <hr class="line">
    <p class='authorInd'>by {{article.author}}</p>
    <p class="summaryInd">{{article.description}} </p>
    <a href="{{article.link}}" target="_blank">
        <div class="fullArticle">Read Full Article Here.
        </div>
    </a>

    <div class="note">
        {{#if article.note}}
        <div class="notes">
            <div class="notes-header">
                Notes
            </div>
            <div class="all-notes container">
                {{#each article.note}}
                <div class="note-body row">
                    <div class="col-11">{{body}}</div>
                    <div class="col-1 exit-button"> <img src="/images/remove-button.png" data-article-id="{{../_id}}" class=" delete-note" 
                        data-note-id="{{_id}}"></div>
                </div>
                <hr class="noteline">
                {{/each}}
            </div>
        </div>
        {{else}}
        <div class="notes">
            <div class="notes-header">
                There are no notes for this article yet. Why don't you write the first one?
            </div>
        </div>
        {{/if}}
        <br>
        <form>
            <div class="form-group">
                <label for="noteInput" class="labelNote">Add a Note:</label>
                <textarea class="form-control" id="{{_id}}-input" rows="3"></textarea>
            </div>
            <button type="submit" class="btn submit-btn add-note" data-article-id="{{_id}}">Submit</button>
        </form>
    </div>
</div>